p {
	font-size: 20px;
	position: absolute;
	top:270px;
}
.z{
	position: absolute;
	top:100px;
	left:300px;
}
.o{
	position: absolute;
	top:0px;
	left:500px;
}
.f{
	position: absolute;
	top:100px;
	left:650px;
}
.g{
	position: absolute;
	top:0px;
	left:800px;
}
.k{
	position: absolute;
	top:100px;
	left:1100px;
}
.animate {
	color: goldenrod;
	animation: text-focus-in 1.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
